.App {
  border: thick solid red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.5em;
}
.previous {
  border: thin solid blue;
  padding-left: 10px;
  width: 22%;
  margin-left: 10px;
}
h1{
  text-align: center;
}
.form {
  border: thin solid green;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
}
